.aqi-chart {
  height: 400px;
  width: 100%;
}

.bar-chart-1 {
  height: 400px;
  width: 100%;
}

.demo-body {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  height: 360%;
  align-items: center;
}

.demo-full {
  height: 100%;
  width: 100%;
}

.demo-row {
  width: 50%;
  margin-bottom: 5%;
}