<div class="echart-demo-row">
  {{ember-echart hook='demo-echart' option=model.option class="aqi-chart" id="aqi"}}
</div>

<div class="echart-demo-row">
  {{ember-echart hook='demo-echart' option=option2 class="bar-chart-1"  id="polar"}}
</div>

<div class="echart-demo-row">
  {{ember-echart hook='demo-echart' option=option3 class="bar-chart-1" id="bar-chart-1"}}
</div>

<div class="echart-demo-row">
  {{ember-echart hook='demo-echart' option=option4 id="pie-chart-1"}}
</div>